

<table>
      <thead>
        <th> Name </th>
        <th> Birthday </th>
        <th> color </th>
        <th> sex </th>
        <th> description</th>
    </thead>

        <td> 
            <%= cat.name %>
        </td>
        <td> 
            <%= cat.birth_date %>
        </td>
        <td> 
            <%= cat.color %>
        </td>
        <td> 
            <%= cat.sex %>
        </td>
        <td> 
            <%= cat.description %>
        </td>
    </tr>
  
</table>